# JetBrains IDEs
.idea/*
# JetBrains IDEs
.out\production\FIU PROJECTS\.idea
.idea
*/.idea/workspace.xml
.idea/workspace.xml

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.bz2
*.7z
*.log
*.lock
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.bz2
*.7z
*.log
*.lock
